.social
  %ul.social-share
    %li
      %a{:href => "#"}
        %i.fa.fa-facebook
    %li
      %a{:href => "#"}
        %i.fa.fa-twitter
    %li
      %a{:href => "#"}
        %i.fa.fa-linkedin
    %li
      %a{:href => "#"}
        %i.fa.fa-dribbble
    %li
      %a{:href => "#"}
        %i.fa.fa-skype
  .search
    %form{:role => "form"}
      %input.search-form{:autocomplete => "off", :placeholder => "Search", :type => "text"}
        %i.fa.fa-search
