/public/uploads/data_file/data_file/1/35244_1680x1050.jpg
/public/uploads/data_file/data_file/1/40974_1680x1050.jpg
/public/uploads/data_file/data_file/1/thumb_100_100_35244_1680x1050.jpg
/public/uploads/data_file/data_file/1/thumb_100_100_40974_1680x1050.jpg
/public/uploads/data_file/data_file/1/thumb_50_50_35244_1680x1050.jpg
/public/uploads/data_file/data_file/1/thumb_50_50_40974_1680x1050.jpg
/public/uploads/data_file/data_file/2/36439_1680x1050.jpg
/public/uploads/data_file/data_file/2/47882_1680x1050.jpg
/public/uploads/data_file/data_file/2/thumb_100_100_36439_1680x1050.jpg
/public/uploads/data_file/data_file/2/thumb_100_100_47882_1680x1050.jpg
/public/uploads/data_file/data_file/2/thumb_50_50_36439_1680x1050.jpg
/public/uploads/data_file/data_file/2/thumb_50_50_47882_1680x1050.jpg
/public/uploads/data_file/data_file/3/35244_1680x1050.jpg
/public/uploads/data_file/data_file/3/thumb_100_100_35244_1680x1050.jpg
/public/uploads/data_file/data_file/3/thumb_50_50_35244_1680x1050.jpg
/public/uploads/data_file/data_file/4/40072_1680x1050.jpg
/public/uploads/data_file/data_file/4/thumb_100_100_40072_1680x1050.jpg
/public/uploads/data_file/data_file/4/thumb_50_50_40072_1680x1050.jpg
/public/uploads/data_file/data_file/5/42158_1680x1050.jpg
/public/uploads/data_file/data_file/5/thumb_100_100_42158_1680x1050.jpg
/public/uploads/data_file/data_file/5/thumb_50_50_42158_1680x1050.jpg
/public/uploads/data_file/data_file/6/38220_1600x1200-wallpaper-cb1322759775.jpg
/public/uploads/data_file/data_file/6/thumb_100_100_38220_1600x1200-wallpaper-cb1322759775.jpg
/public/uploads/data_file/data_file/6/thumb_50_50_38220_1600x1200-wallpaper-cb1322759775.jpg
/public/uploads/data_file/data_file/7/35223_1680x1050.jpg
/public/uploads/data_file/data_file/7/thumb_100_100_35223_1680x1050.jpg
/public/uploads/data_file/data_file/7/thumb_50_50_35223_1680x1050.jpg
/public/uploads/tmp/1429391480-11943-8532/iannou.PNG
/public/uploads/tmp/1429391480-11943-8532/thumb_100_100_iannou.PNG
/public/uploads/tmp/1429391480-11943-8532/thumb_50_50_iannou.PNG
/public/uploads/tmp/1429393770-14310-7719/Zero_G_3.jpg
/public/uploads/tmp/1429393770-14310-7719/thumb_100_100_Zero_G_3.jpg
/public/uploads/tmp/1429393770-14310-7719/thumb_50_50_Zero_G_3.jpg
/public/uploads/tmp/1429393897-14529-0238/Zero_G_3.jpg
/public/uploads/tmp/1429393897-14529-0238/thumb_100_100_Zero_G_3.jpg
/public/uploads/tmp/1429393897-14529-0238/thumb_50_50_Zero_G_3.jpg
# See https://help.github.com/articles/ignoring-files for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile '~/.gitignore_global'

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/vendor/assets/components
