.blog-masthead
  .container
    %nav.blog-nav
      =link_to 'Home', home_path, :class => 'blog-nav-item'
      =link_to 'Types', types_path, :class => 'blog-nav-item'
      -#%a.blog-nav-item{:href => "#"} Types
      %a.blog-nav-item{:href => "#"} Press
      %a.blog-nav-item{:href => "#"} New hires
      %a.blog-nav-item{:href => "#"} About