.mastfoot
  .inner
    %p
      Cover template for
      = succeed "," do
        %a{:href => "http://getbootstrap.com"} Bootstrap
      = succeed "." do
        %a{:href => "https://twitter.com/mdo"} @mdo